@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .cart.black {
        color: white;
    }

    .h--fs-xs_1_9em {
        font-size: 1.9em !important;
    }

    .h--fs-xs_2em {
        font-size: 2em !important;
    }

    .h--hello {
        color: black;
    }

    .h--toggle {
        color: black;
    }
}