@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .cart.black {
        color: white;
    }

    .cart.black {
        color: red;
    }

    .h--hello1 {
        color: black;
    }

    .h--hello3 {
        color: white;
    }
}