.h--abc {
    color: white;
}

.h--class {
    color: red;
}

@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .h--abc2 {
        background-color: red;
    }

    .h--abc3 {
        background-color: red;
    }
}