.h--hello {
    color: white;
}

.h--toggle {
    color: red;
}

br {
    display: none;
}

@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .h--hello2 {
        background-color: red;
    }

    .h--toggle2 {
        background-color: red;
    }
}