.h--hello {
    color: white;
}

.h--toggle {
    color: red;
}

.h--staff {
    color: red;
}

br {
    display: none;
}

@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .h--hello2 {
        background-color: red;
    }

    .h--toggle2 {
        background-color: red;
    }

    .just-class {
        background-color: red;
    }

    .h--staff2 {
        color: red;
    }
}