a {
    background-color: red;
}

.b-php-class {
    color: white;
}

.h--js-class1 {
    color: white;
}

.b-header {
    color: black;
}

.b-staff1 {
    color: black;
}

@media (max-width: 768px) {
    a {
        background-color: red;
    }

    .b-php-class2 {
        color: white;
    }

    .h--js-class2 {
        color: white;
    }

    .b-header__logo {
        color: black;
    }

    .b-staff1 {
        color: black;
    }
}